* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outerDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: #f8f8f8;
}
.outerDiv div {
  padding: 15px;
  overflow: auto;
}
form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px;
  background-color: #131213;
}
form h1 {
  color: #f3aa4e;
  text-align: center;
}
form button {
  align-self: center;
  background-color: #f3aa4e;
  border: none;
  padding: 8px 16px;
  color: #f8f8f8;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
label {
  margin-bottom: 8px;
}
input,
select {
  margin-bottom: 12px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
ul {
  list-style: none;
  padding: none;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
}
button, .taskItem .tag {
  margin: 0;
  padding: 5px 12px;
  border-radius: 20px;
  border: 1px solid #f3aa4e;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.rightDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tasks {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasks li {
  background-color: #131213;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
}
.tasks p {
  margin: 0;
  font-weight: bold;
}
.tasks .tag {
  background-color: #f3aa4e;
  border: none;
  color: #323f4b;
  font-weight: bold;
}
.active {
  background-color: #f3aa4e;
  border: none;
  color: white;
  font-weight: bold;
}
.center {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.taskItem {
  display: flex;
  justify-content: space-between;
  background-color: #131213;
}
